<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/ispindel-config}" th:object="${calibration}" method="post">
    <table>
        <tr>
            <td>Degree 3 Value 1:</td>
            <td><input type="text" th:field="*{degree3_1}" /></td>
            <td th:if="${#fields.hasErrors('degree3_1')}" th:errors="*{degree3_1}">degree3_1 Error</td>
        </tr>
        <tr>
            <td>Degree 3 Value 2:</td>
            <td><input type="text" th:field="*{degree3_2}" /></td>
            <td th:if="${#fields.hasErrors('degree3_2')}" th:errors="*{degree3_2}">degree3_2 Error</td>
        </tr>
        <tr>
            <td>Degree 3 Value 3:</td>
            <td><input type="text" th:field="*{degree3_3}" /></td>
            <td th:if="${#fields.hasErrors('degree3_3')}" th:errors="*{degree3_3}">degree3_3 Error</td>
        </tr>
        <tr>
            <td>Degree 3 Value 4:</td>
            <td><input type="text" th:field="*{degree3_4}" /></td>
            <td th:if="${#fields.hasErrors('degree3_4')}" th:errors="*{degree3_4}">degree3_4 Error</td>
        </tr>
        <tr>
            <td>Calibration Temperature:</td>
            <td><input type="text" th:field="*{calibratedTemperatureFahrenheit}" /></td>
            <td th:if="${#fields.hasErrors('calibratedTemperatureFahrenheit')}" th:errors="*{calibratedTemperatureFahrenheit}">calibratedTemperatureFahrenheit Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>